style_transfer/simple/vgg16_notop.h5
style_transfer/simple/content/*
style_transfer/simple/style/*
style_transfer/adain/content_256/*
style_transfer/adain/style_256/*
style_transfer/adain/*.pdf
#style_transfer/adain/model/*
style_transfer/adain/output_16/*
style_transfer/adain/output_19/*
test_batchnormalization/full_*
dcgan/gan_anime/full_data
gan_multiscale/dog/dog64/*
gan_multiscale/dog/output_msggan/*
gan_multiscale/dog/model/*
gan_multiscale/celeba/small_celeba/*
gan_multiscale/celeba/output_msggan/*
gan_multiscale/celeba/model/*
gan_dc/gan_cifar/train/*
gan_dc/gan_cifar/raw_data/*
gan_dc/gan_dog/dog32/*
gan_dc/gan_dog/dog64/*
gan_dc/gan_dog/model/*
gan_dc/gan_dog/model*/*
gan_dc/gan_dog/output/*
gan_pro/anime/image/*
gan_pro/anime/small_image/*
gan_pro/anime/model/*
gan_pro/anime/output/*
gan_pro/anime/t_output/*
gan_attr/celab/model*
gan_translation/pix2pix_paired_data/output_with_discriminator
gan_translation/pix2pix_paired_data/output_with_shallow_discriminator
gan_translation/pix2pix_paired_data/output_without_discriminator
gan_translation/pix2pix_paired_data/model
gan_translation/pix2pix_unpaired_data/full_*
gan_translation/pix2pix_unpaired_data/model
gan_translation/pix2pix_unpaired_data/output
gan_translation/pix2pix_unpaired_data/small_horse/*
gan_translation/pix2pix_unpaired_data/small_zebra/*
gan_translation/pix2pix_unpaired_data/train_horse/*
gan_translation/pix2pix_unpaired_data/train_zebra/*
gan_translation/pix2pix_edge_image/shoe/edge
gan_translation/pix2pix_edge_image/shoe/image
gan_translation/pix2pix_edge_image/shoe/source
gan_autoregressive/cnn/mnist/model/*
gan_autoregressive/cnn/mnist/train/*
gan_autoregressive/rnn/mnist/train/*
gan_autoregressive/rnn/mnist/output/*
#gan_autoregressive/rnn/mnist/model/*
segmentation/full_*
segmentation/ori
segmentation/mark_*
text_classification/neg
text_classification/pos
image_caption/*.tar
image_caption/*.zip
image_caption/image
annotation_tool/output
camera_tool/output
mini_yolo/full_dataset
download_tool/output
gomoku_reinforcement_learning/supervised_learning/dataset
cube_reinforcement_learning/cube3X3/model
number_board_reinforcement_learning\rotation\model
tag_to_text/static/test_dataset/*
tag_to_text/static/train_dataset/*
line_to_text/english/simple/train_on_short_tags1/test_dataset/*
line_to_text/english/simple/train_on_short_tags1/train_dataset/*
line_to_text/english/simple/train_on_short_tags2/test_dataset/*
line_to_text/english/simple/train_on_short_tags2/train_dataset/*
line_to_text/english/simple/train_on_short_tags3/test_dataset/*
line_to_text/english/simple/train_on_short_tags3/train_dataset/*
line_to_text/english/simple/test_on_long_lines/test_dataset/*
line_to_text/english/simple/test_on_long_lines/model_gru_postfix_predictor/*
line_to_text/japanese/test_dataset/*
line_to_text/japanese/train_dataset/*
line_to_text/japanese/old/*
text_detection/train_dataset/*
text_detection/test_dataset/*
image_attention/image/*
image_attention/mask/*
multi_gpu_test/train/*
multi_gpu_test/test/*
multi_gpu_test/small_train/*
multi_gpu_test/small_test/*
multi_gpu_test/multi_gpu/*
multi_gpu_test/single_gpu/*
atrous_segmentation/image/*
atrous_segmentation/output/*
atrous_segmentation/segment/*
word_embedding/processed_data.txt
word_embedding/test.csv
word_embedding/vocab.txt
word_embedding/glove/*.npy
word_embedding/glove/model/*
word_embedding/oov/model/*
word_embedding/word2vec/model/*
random_dropout/machenism_of_action/*.csv
random_dropout/machenism_of_action/model/*